<h1>TODO LIST HERE!</h1>

  <form id="add_list" action="#" methos="post">

    <label for="list_title">Add a new list:</label>

    <input type="text" id="list_title" name="list_title" placeholder="title">
    <input type="submit" value="(+) add">
  <br>
  </form>



  <form id="add_todo" action="#" method="post">


    <label for="select_list">Select List:</label>
    <select id="select_list" name="select_list"></select>


    <label for="todo_description">Todo </label>
    <input type="text" id="todo_description" name="todo_description" placeholder="description">


    <label for="todo_order">Priority level:</label>
    <input type="text" id="todo_order" name="todo_order" placeholder="order">

    <input type="submit" value="(+) add">
  </form>

  <section id="lists"></section>
